<?php
/**
 * @author Gustavo Ulyssea - gustavo.ulyssea@gmail.com
 * @copyright Copyright (c) 2020 GumNet (https://gum.net.br)
 * @package GumNet AME
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY GUM Net (https://gum.net.br). AND CONTRIBUTORS
 * ``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
 * TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 * PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE FOUNDATION OR CONTRIBUTORS
 * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$assetRepo = $objectManager->get('Magento\Framework\View\Asset\Repository');
$ame_logo = $assetRepo->getUrl("GumNet_AME::images/ame-digital.png");

echo "";
if($block->getPaymentMethod()=="ame") {
    $total_discount = 0;
    $items = $block->getOrder()->getAllItems();
    foreach ($items as $item) {
        $total_discount = $total_discount + $item->getDiscountAmount();
    }
    ?>
    <div id='success_ame_external'>
        <center>
        <div id='success_ame_internal'>
            &nbsp;<br>
            <div id="success_ame_value_txt"><img src="<?php echo $ame_logo; ?>" width="150"><br><br>
                Valor da compra:</div>
            <div id="success_ame_value">R$<?php echo number_format($block->getPrice()-abs($total_discount),
                    2,",","."); ?></div><br>
            <div id="success_ame_cashback_txt">Receba de volta <div id="success_ame_cashback_value">
                    <?php echo number_format($block->getCashbackValue(),2,",","."); ?></div> em até 30 dias.</div><br>
            <div id="success_ame_facil">Pagar com a AME é fácil e rápido!</div>
            <img id="success_ame_qrcode" src='<?php echo $block->getQrCodeLink(); ?>'/>
            <div id="success_ame_info">1. Abra o aplicativo Ame Digital. Se você ainda não tem, <br>baixe no
                <img src="<?php echo $this->getViewFileUrl('GumNet_AME::images/google-logo.svg');?>" alt='Google Play' height="16">
                ou na
                <img src="<?php echo $this->getViewFileUrl('GumNet_AME::images/apple-logo.svg');?>" alt='App Store' height="16"><br>
                2. Clique em pagar
                <img src="<?php echo $this->getViewFileUrl('GumNet_AME::images/ame-small-logo.svg');?>" alt='AME Logo'>
                e aponte para o QR Code.<br>
                3. Pronto, agora é só finalizar o pagamento com Ame.<br>
                <br>
            </div>
            <br>&nbsp;
            <br>&nbsp;
            <br>&nbsp;
        </div>
        </center>
        <script>
            if(window.innerWidth<=500){
                window.location = "<?php echo $block->getDeepLink();?>";
            }
        </script>
    </div>
    <?php
}
